# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
*.egg

# Mathematica
*.wl~

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
